<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
    <h1>Duy dz</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>E-mail</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Duy</td>
                <td>ntd@gmail.com</td>
                <td>TN</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Giang</td>
                <td>nhg@gmail.com</td>
                <td>NB</td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>